<h1>Yes</h1>

<form method="post">
    <label for="beginYear"> Beginning Year </label>
    <input maxlength="4" name="beginYear"/>

    <label for="endYear"> Ending Year </label>
    <input maxlength="4" name="endYear" />

    <button type="submit">Send Data</button>
</form>

